.fondogris{
	height: 1200px;
	width: 100%;
}
.fondogris1{
	background-color:	#DCDCDC;
	height: 270px;
	width: 1150px;
}
.im{
	width: 80.5%;
	margin-left: -13px;
}
.im2{
	height: 270px;
}
.p3{
	margin-bottom: 13px;
}
.new{
	height: 5%;
	margin-top: 10px;
	margin-left: -2px;
}
