.fondo1{
	background-image: url("../img/dance_1.jpg");
	background-repeat: no-repeat;
	height: 450px;
	width: 103.5%;
}
.bg-blue{
	background-color: #192951;
	height: 500px;
	width: 103.6%;
}
.studio2{
	margin-left: 100px;
	margin-top: 90px;
	width: 20%;
	height: 30%;
}
.button2{
	padding: 10px;
	margin-left: 250px;
}
.button3{
	margin-top: -73px;
	margin-left: 270px;
	float: left;
	padding: 10px;
}
.adorno1{
	width: 17%;
	margin-left: 370px;
	margin-top: -80px;
}
.foto{
	width: 720px;
	border: 2px solid #192951;
}
.foto1{
	height: 480px;
}
